
<!DOCTYPE html>
<html>
<head>
    <environment names="Production">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/css/Help.css" />
    </environment>
</head>
<body>
    <div class="container">
        <br />
        <br />
        <br />



        <br />

        <div class="panel-group" id="accordion">
            <div class="faqHeader">User Agreements</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Mining Services Agreement</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse ">
                    <div class="panel-body">
                        <p>
                            Blocknetwork, Inc. <br />
                            <br />
                            SERVICE AGREEMENT <br />
                            <br />
                            This SERVICE AGREEMENT (the “Agreement”) is made on day of contract purchase (the “Effective Date”) by and between BLOCKNETWORK, INC. (the “Blocknetwork”), a Canada Corporation and yourself (the “Client”), hereinafter sometimes referred together as “Parties” and individually as “Party”. In consideration of the mutual promises contained herein, the Parties agree as follows:
                            <br /> <br />
                            SCOPE OF THE AGREEMENT
                            Services. Blocknetwork undertakes to provide crypto-mining services to Client (the “Services” ). Blocknetwork will provide mining rigs and with hashing power up to 18,000 mh/s to Client. Client shall receive from Blocknetwork the cryptocurrency that is mined in accordance to the hashing power (the “Mined Cryptocurrency”). The Services shall only include Ethereum (ETH) mining, however, Blocknetwork shall have may extend its services to include other types of cryptocurrency in the future.
                            <br /> <br />
                            PAYMENT
                            Fees. In consideration for the provision of the Services, Client shall pay Blocknetwork the amounts stated for the provision of the Services (the “Fees”) in accordance with the Mining packages selected on the Blocknetwork Website (see https://www.bnetwork.org/mining ) All sales are final.

                            Account Information. Client agrees to provide current, complete and accurate information for payment of the Fees. Client shall update Blocknetwork if there has been any change to Client’s information, including email addresses, credit card numbers and expiration dates, so that Blocknetwork can complete any transactions and process the payment of Fees. Blocknetwork reserves the right to immediately suspend the provision of the Services or any part thereof, if any information provided during the registration process or thereafter proves to be inaccurate, false or misleading or if after (5) days written notice to Client any Fees due to Blocknetwork are overdue.
                            <br /> <br />
                            CONFIDENTIALITY
                            Definition of Confidential Information. The Parties understand that they may receive (“Recipient”) confidential information (“Confidential Information”) disclosed by the other party (the “Discloser”). Confidential Information means information and physical material not generally known or available outside Discloser and information and physical material entrusted to Discloser in confidence by third parties. Confidential Information includes, without limitation: technical data, trade secrets, know-how, research, product or service ideas or plans, software codes and designs, algorithms, developments, inventions, patent applications, laboratory notebooks, processes, formulas, techniques, mask works, engineering designs and drawings, hardware configuration information, agreements with third parties, lists of, or information relating to, employees and consultants of the Discloser, lists of, or information relating to, suppliers and customers, price lists, pricing methodologies, cost data, market share data, marketing plans, licenses, contract information, business plans, financial forecasts, historical financial data, budgets or other business information disclosed by Discloser, whether written or oral, and regardless of whether such Confidential Information is designated in writing to be confidential or proprietary.

                            Non-use and Non-disclosure of Confidential Information. Recipient shall not use any Confidential Information disclosed to it by Discloser for its own use or for any purpose other than to carry out their obligations under this Agreement. Recipient shall not disclose or permit disclosure of any Confidential Information of Discloser to third parties or to employees of Recipient, other than directors, officers, employees, consultants and agents of Recipient who are required to have the information in order to carry out the obligations under this Agreement. Recipient shall take reasonable measures to protect the secrecy of and avoid disclosure or use of Confidential Information of Discloser in order to prevent it from falling into the public domain or the possession of persons other than those persons authorized under this Agreement to have any such information. Such measures shall include the degree of care that Recipient utilizes to protect its own Confidential Information of a similar nature, but in no event less than reasonable care. Recipient shall notify Discloser in writing of any misuse, misappropriation or unauthorized disclosure of Confidential Information of Discloser which may come to Recipient’s attention.

                            Exceptions. Notwithstanding the above, information disclosed hereunder shall not be considered Confidential Information, as defined herein, where Recipient can prove that such information: (a) was in the public domain at the time it was disclosed or has entered the public domain through no fault of Recipient; (b) was known to Recipient, without restriction, at the time of disclosure, as demonstrated by files in existence at the time of disclosure; (c) was independently developed by Recipient without any use of the Confidential Information, as demonstrated by files created at the time of such independent development; (d) is disclosed generally to third parties by Discloser without restrictions similar to those contained in this Agreement; (e) becomes known to Recipient, without restriction, from a source other than Discloser without breach of this Agreement by Recipient and otherwise not in violation of Discloser’s rights; (f) is disclosed with the prior written approval of Discloser; or (g) is disclosed pursuant to the order or requirement of a court, administrative agency, or other governmental body; provided, however, that Recipient shall provide prompt notice of such court order or requirement to Discloser to enable Discloser to seek a protective order or otherwise prevent or restrict such disclosure.

                            Return of Materials. Recipient shall, except as otherwise expressly authorized by Discloser, not make any copies or duplicates of any Confidential Information. Any materials or documents that have been furnished by Discloser to Recipient in connection with this Agreement shall be promptly returned by Recipient, accompanied by all copies of such documentation, within ten (10) days after (a) the Agreement has been terminated or expired or (b) the written request of Discloser.

                            No Rights Granted. Nothing in this Agreement shall be construed as granting any rights under any patent, copyright or other intellectual property right of Discloser, nor shall this Agreement grant Recipient any rights in or to Discloser’s Confidential Information other than the right to access such Confidential Information solely for the purpose of carrying out this Agreement. Discloser shall retain sole ownership of all disclosed Confidential Information. Nothing in this Agreement requires the disclosure of any Confidential Information, which shall be disclosed, if at all, solely at Discloser’s option.
                            <br /> <br />
                            PROPRIETARY RIGHTS
                            Intellectual Property. All content included as part of the Services, such as text, graphics, logos, images, as well as the compilation thereof; the Services; and any update made to the Services (collectively, the “Intellectual Property”) are the exclusive property of Blocknetwork or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. Client agrees to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto. Other than the limited right to use the Services, as provided hereunder, this Agreement do not convey any right, title or interest in and to the Services, or any other Intellectual Property Right of Blocknetwork. Any updates, upgrades, improvements, modifications, adaptations, derivatives or enhancements made to the Services, any of the Intellectual Property, or to any part thereof, shall be solely owned by Blocknetwork.

                            Modification of Blocknetwork Intellectual Property. Client shall not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the Services. Client shall not make any unauthorized use of any protected content. Client shall use the Intellectual Property, if applicable, solely for the use of the Services, and will make no other use of the Intellectual Property without the express written permission of Blocknetwork and the copyright owner. Client understands and agrees that they do not acquire any ownership rights in any Intellectual Property of Blocknetwork.
                            <br /> <br />
                            NON-CIRCUMVENTION
                            For a period of one (1) year after the termination of this Agreement, Client shall not, directly or indirectly, enter into any agreement or transaction with one of Blocknetwork’s service providers (the “Blocknetwork Providers”) without Blocknetwork’s prior written consent.
                            <br /> <br />
                            TERM AND TERMINATION
                            This Agreement will commence on the Effective Date and, unless terminated earlier in accordance with the terms of this Agreement, will remain in force and effect for as long as Blocknetwork is performing Services for Client. Either Party may terminate this Agreement at any time, for any reason or no reason, upon at least fifteen (15) days written notice to the other Party. Upon the expiration or termination of this Agreement for any reason, Client shall pay Blocknetwork any accrued but unpaid fees due and payable to Blocknetwork within (30) thirty days.
                            <br /> <br />
                            RELATIONSHIP OF THE PARTIES
                            Independent Contractor. Blocknetwork is an independent contractor and nothing in this Agreement or in the course of performance of this Agreement shall be interpreted to create an employment, agency, joint venture, or partnership relationship between Blocknetwork and Client.

                            Taxes and Employee Benefits.  Client will report to all appropriate government agencies any monies or currency pursuant to this Agreement, if applicable.
                            No Exclusivity. The Parties acknowledge and agree that this Agreement does not create any exclusive relationship between the Parties.
                            <br /> <br />
                            DISCLAIMER OF WARRANTIES
                            EXCEPT AS EXPRESSLY SET FORTH HEREIN, BLOCKNETWORK DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE, THE ABILITY TO USE OR OPERATE, OR THE RESULTS OF THE USE OR OPERATION OF THE SERVICES, OR ANY PART THEREOF. THE SERVICES (AND ANY PART THEREOF), INCLUDING WITHOUT LIMITATION ANY CONTENT, DATA, MATERIALS, REPORTS AND ANY INFORMATION RELATED THERETO, ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING WARRANTIES OF TITLE OR NON-INFRINGEMENT OR IMPLIED WARRANTIES OF USE, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR USE, OR ANY REPRESENTATIONS OR WARRANTIES AS TO THE USABILITY, ACCURACY, QUALITY, AVAILABILITY, RELIABILITY, SUITABILITY, COMPLETENESS, TRUTHFULNESS, USEFULNESS, SECURITY OR EFFECTIVENESS OF ANY CONTENT, DATA, RESULTS, CURRENCY OR OTHER INFORMATION OBTAINED OR GENERATED BY BLOCKNETWORK AND/OR CLIENT IN CONNECTION WITH CLIENT’S USE OF THE SERVICES.. EXCEPT AS EXPRESSLY STATED OTHERWISE UNDER THIS AGREEMENT, BLOCKNETWORK MAY, AT ITS SOLE DISCRETION, CORRECT, MODIFY, AMEND, ENHANCE, IMPROVE AND MAKE ANY OTHER CHANGES TO THE SERVICES AT ANY TIME WITHOUT ANY NOTICE TO CLIENT.

                            BLOCKNETWORK DOES NOT MAKE ANY REPRESENTATIONS REGARDING ANY BENEFITS, RESULTS OR RETURNS THAT CLIENT OR ANY THIRD PARTY SHALL OBTAIN FROM THE SERVICES AND/OR MINED CRYPTOCURRENCY.

                            BLOCKNETWORK CANNOT GUARANTEE THE MINING WILL OCCUR AT A PARTICULAR HASH RATE AT ALL TIMES. BLOCKNETWORK SHALL NOT BE LIABLE FOR ANY VARIANCES ON THE HASH RATE OR HASH POWER DURING THE PROVISION OF THE SERVICES.

                            BLOCKNETWORK DOES NOT AND CANNOT WARRANT THAT THE SERVICES ARE OR WILL BE SECURE, ACCURATE, COMPLETE, UNINTERRUPTED, WITHOUT ERROR, FREE OF CRASHES, OR FREE OF VIRUSES, WORMS, OTHER HARMFUL COMPONENTS, OR OTHER LIMITATIONS.
                            <br /> <br />
                            LIMITATION OF LIABILITY
                            TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW: (I) IN NO EVENT WILL BLOCKNETWORK OR ANY OF BLOCKNETWORK’S, SUBSIDIARIES, AFFILIATES, EMPLOYEES OR AGENTS BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES OF ANY KIND (INCLUDING, BUT NOT LIMITED TO, WHERE RELATED TO LOSS OF REVENUE, INCOME OR PROFITS, LOSS OF USE OR DATA, OR DAMAGES FOR BUSINESS INTERRUPTION) ARISING OUT OF OR IN ANY WAY RELATED TO THE SERVICES OR OTHERWISE RELATED TO THIS AGREEMENT, REGARDLESS OF THE FORM OF ACTION, WHETHER BASED IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, SIMPLE NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), OR ANY OTHER LEGAL OR EQUITABLE THEORY (EVEN IF THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND REGARDLESS OF WHETHER SUCH DAMAGES WERE FORESEEABLE); AND (II) IN NO EVENT WILL THE AGGREGATE LIABILITY OF BLOCKNETWORK AND BLOCKNETWORK’S SUBSIDIARIES, AFFILIATES, EMPLOYEES OR AGENTS (JOINTLY), WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), OR OTHER THEORY, ARISING OUT OF OR RELATING TO THIS AGREEMENT OT THE SERVICES EXCEED THE FEES PAID BY CLIENT TO BLOCKNETWORK IN THE LAST SIX (6) MONTHS FOR THE SERVICES UNDER THIS AGREEMENT, AS PERMITTED BY APPLICABLE LAW.
                            <br /> <br />
                            RISKS ASSOCIATED WITH CRYPTO-MINING AND CRYPTOCURRENCY GENERALLY
                            Ethereum Blockchain. The Ethereum blockchain is prone to periodic congestion during which transactions can be delayed or lost. Individuals may also intentionally spam the Ethereum network in an attempt to gain an advantage in purchasing cryptographic tokens. Client acknowledge and understand that Ethereum block producers may not include Client’s transaction when Client desires or Client’s transaction may not be included at all. Additionally, the Ethereum blockchain is periodically updated and forked into a new blockchain. CLIENT UNDERSTANDS AND ACKNOWLEDGES THAT UPDATES TO THE ETHEREUM BLOCKCHAIN MAY AFFECT THE SERVICES.

                            Blockchain Delay Risk. On the Ethereum blockchain, timing of block production is determined by proof of work so block production can occur at random times. Client acknowledges and understands that the Ethereum blockchain may not include a particular transaction at the time expected by Client and Client may receive their Mined Cryptocurrency funds with some delays.

                            Hacks. While it is less likely a blockchain will be hacked, there is a greater potential for hacks on the system layers that exists above the blockchain layer. For example, applications such as wallets, browsers, websites or software programs are all common targets for hackers. These hacks often lead to a substantial loss of funds of cryptocurrency. Blocknetwork shall not be liable for any hacks that result in the partial or complete loss of Client’s Mined Cryptocurrency funds, in the event of a hacking by a third-party.

                            Access to Private Keys. Any Mined Cryptocurrency may be held by Client in Client’s digital wallet or vault, which requires a private key, or a combination of private keys, for access. Accordingly, loss of requisite private key(s) associated with Client’s digital wallet or vault storing the Mined Cryptocurrency will result in loss of such Mined Cryptocurrency, access to Buyer's Mined Cryptocurrency balance and/or any initial balances in blockchain created by third parties. Moreover, any third party that gains access to such private key(s), including by gaining access to login credentials of a hosted wallet or vault service Client uses, may be able to misappropriate Buyer's Mined Cryptocurrency. Blocknetwork shall not responsible to Client for any such losses.

                            Uncertain Regulatory Framework. The regulatory status of cryptographic tokens, digital assets and blockchain technology is unclear or unsettled in many jurisdictions. It is difficult to predict how or whether governmental authorities will regulate such technologies. It is likewise difficult to predict how or whether any governmental authority may make changes to existing laws, regulations and/or rules that will affect cryptographic tokens, digital assets, blockchain technology and its applications. Such changes could negatively impact the Services. Blocknetwork may cease providing the Services or cease operations in a particular jurisdiction in the event that governmental actions make it unlawful or commercially undesirable to continue to do so.
                            <br /> <br />
                            INDEMNIFICATION
                            Client shall defend, indemnify and hold harmless Blocknetwork and its officers, directors, shareholder, employees, affiliates and agents from and against all costs, damages, losses and expenses, including reasonable attorneys’ fees and other legal expenses, arising from any third-party claim that (i) ) stems from Client’s violation or alleged violation of any representations, warranties, and/or obligations under this Agreement or (ii) that Client has failed to obtain any necessary permit, license or consent in connection with this Agreement. As a condition to the defense and indemnity set forth above, the either party, as applicable (the “Indemnified Party”) shall give the other Party (“Indemnifying Party”) prompt notice of any such claim made against it and the Indemnifying Party shall be entitled, by written notice to such Indemnified Party, to assume sole control of the defense of any such claim, suit or proceeding, including appeals, negotiations and any settlement or compromise thereof (collectively, “Claim”), at its own expense, provided that (a) no settlement, consent order or consent judgment which involves any placement of a financial burden or admission of any liability or wrongdoing, act or omission on the part of the Indemnified Party may be agreed to by the Indemnifying Party without the Indemnified Party’s prior written consent; and (b) the Indemnifying Party shall keep the Indemnified Party informed of the status and progress of such Claim, the defense thereof and/or settlement negotiations with respect thereto. The Indemnified Party shall give the Indemnifying Party all reasonable assistance, at Indemnifying Party’s cost and expense, necessary in connection with such defense.
                            <br /> <br />
                            FORCE MAJEURE
                            Blocknetwork shall not be liable for full or partial failure to perform their obligations hereunder if such failure is caused by events of force majeure which occurred after execution of this Agreement and which could not be foreseen or prevented by reasonable efforts of Blocknetwork. The force majeure events shall include floods, fire, earthquake, other acts of God, as well as war, civil unrest, military hostilities, illegal actions of state government authorities, interruption or hacks in the Blockchain, interruption on electricity or power and any other events beyond the reasonable control of Blocknetwork having a direct material adverse effect on the performance of obligations hereunder, provided that Blocknetwork shall notify Client of such delay as soon as commercially practicable and use commercially reasonable efforts to minimize the adverse effect of such events.
                            <br /> <br />
                            ARBITRATION
                            Any dispute, controversy or claim arising out of, relating to, or in respect of this Agreement, including any issue regarding its existence, validity, enforceability, interpretation, breach or termination ("Dispute") shall be finally determined by submission to arbitration under the Arbitration Act, 1991 (Ontario), as amended or replaced from time to time before a sole arbitrator mutually agreeable to the parties (the “Arbitrator”). If the Arbitrator cannot be agreed upon then either Party may apply to the Ontario Superior Court of Justice to appoint an arbitrator. The initial costs of the Arbitrator will be born equally by the Parties. The Arbitrator shall have the power to award costs in his or her discretion in making his or her award or decision. Nothing in this clause prohibits Blocknetwork from seeking injunctive relief in the Ontario Superior Court of Justice as referenced in this Agreement.

                            The seat of the arbitration shall be Toronto, Ontario. The arbitrator's award(s) shall be final and binding and there shall be no appeal. The final award(s) of the arbitrator on the merits of the Dispute shall be released within forty-five (45) days after the completion of the hearing of the Dispute, unless the Parties agree otherwise. The orders and award(s) of the arbitrator may be enforced in any court of competent jurisdiction. For such purposes and to enforce these dispute resolution provisions, the Parties each submit to the exclusive jurisdiction of the courts of Ontario. Any arbitration or action under this Agreement will take place on an individual basis; class arbitrations and class/representative/collective actions are not permitted.

                            THE PARTIES AGREE THAT A PARTY MAY BRING CLAIMS AGAINST THE OTHER ONLY IN EACH'S INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PUTATIVE CLASS, COLLECTIVE AND/ OR REPRESENTATIVE PROCEEDING, SUCH AS IN THE FORM OF A PRIVATE ATTORNEY GENERAL ACTION AGAINST THE OTHER. Further, the arbitrator or judge may not consolidate more than one person's claims, and may not otherwise preside over any form of a representative or class proceeding. 
                            <br /> <br />
                            GENERAL PROVISIONS
                            Entire Agreement. This Agreement, together with all SOW, constitutes the complete and exclusive understanding and agreement of the parties with respect to its subject matter and supersedes all prior understandings and agreements, whether written or oral, with respect to its subject matter.  No term of any SOW will be deemed to amend the terms of this Agreement unless the SOW references a specific provision in this Agreement and provides that the SOW is amending only that specific provision of this Agreement and only with respect to Services performed pursuant for such SOW.  Any waiver, modification or amendment of any provision of this Agreement will be effective only if in writing and signed by the parties hereto.

                            Assignment.  Blocknetwork may not assign or transfer this Agreement, in whole or in part, without Client’s express prior written consent. Any attempt to assign this Agreement, without such consent, will be void. Subject to the foregoing, this Agreement will bind and benefit the parties and their respective successors and assigns.

                            No Election of Remedies.  Except as expressly set forth in this Agreement, the exercise by Blocknetwork of any of its remedies under this Agreement will not be deemed an election of remedies and will be without prejudice to its other remedies under this Agreement or available at law or in equity or otherwise.

                            Severability.  If any provision of this Agreement is held invalid or unenforceable by a court of competent jurisdiction, the remaining provisions of this Agreement will remain in full force and effect, and the provision affected will be construed so as to be enforceable to the maximum extent permissible by law.

                            Notices. Any notice required or permitted to be given under this Agreement shall be sufficient if in writing and if either (i) sent by personal delivery, (2) sent via USPS First Class or Certified Mail to such address as the parties designate or (3) sent to the electronic mail address designated by the parties.

                            Counterparts. This Agreement may be executed in any number of counterparts, each of which when so executed and delivered shall be deemed an original, and all of which together shall constitute one and the same agreement. Execution of a facsimile or electronic copy will have the same force and effect as execution of an original, and a facsimile or electronic signature will be deemed an original and valid signature.

                            Waiver. The failure by either party to enforce any provision of this Agreement will not constitute a waiver of future enforcement of that or any other provision.

                            Headings. The section and other headings contained in this Agreement are for reference purposes only and shall not affect the meaning or interpretations of this Agreement.

                            Attorneys’ Fees. If any action is necessary to enforce the terms of this Agreement, the substantially prevailing Party will be entitled to reasonable attorneys’ fees, costs and expenses in addition to any other relief to which such prevailing Party may be entitled.

                            Governing Law.  To the maximum extent permitted by law, this agreement is governed by the laws of the Province of Ontario, Canada, without regard to any conflict of laws rules. Client irrevocably consent to the exclusive jurisdiction of the state courts in the Province of Ontario, Canada for purposes of any legal action arising out of or related to the use of the Services or this Agreement.

                            Blocknetwork’s Services are controlled and operated from Ontario, Canada. Without limiting anything else, we make no representation that our website, Services, products, information or other materials available on, in, or through our Services is appropriate or available for use in other locations, and access to them from countries or territories where they are illegal is prohibited. Those who choose to access our Services from other locations do so on their own volition and are responsible for compliance with applicable laws. Before using our services, research whether cryptocurrency mining is legal in YOUR state, country or province.


                        </p>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Privacy Policy</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Blocknetwork    <br /> <br />
                            Privacy Policy    <br /> <br />

                            Last Updated: May 17, 2018
                            <br /> <br />
                            This website is operated by Blocknetwork, Inc. (hereinafter “Blocknetwork”). This privacy policy governs your access to the Blocknetwork website (www.bnetwork.org ) and its products and services (collectively the “Services”).
                            The term “you”, “your” or “User(s)” shall refer to any entity or person that starts uses our Services and/or opens an Account with us. The terms “we,” “our” or “us” shall refer to Blocknetwork.

                            Since we may gather certain types of information about our users, we feel you should fully understand our policy and the terms and conditions surrounding the capture and use of that information. This Privacy Policy discloses what information we gather and how we use it. The private information you provide on the Services will be used only for its intended purpose.
                            <br /> <br />
                            BY USING THE SERVICES, YOU CONSENT TO THE DATA PRACTICES DESCRIBED IN THIS STATEMENT. IF YOU DO NOT AGREE WITH OUT PRIVACY PRACTICES, DO NOT USE THE SERVICES.
                            <br /> <br />
                            INFORMATION WE COLLECT
                            We will collect information, including Personal Information and Non-Identifiable Information, when you interact with us and the Services, for example when you:
                            Access or use the Services;
                            Create an account with us;
                            Open or respond to our e-mails;
                            Contact customer service;
                            Visit any page online that displays our ads or content;
                            Purchase services on or through our website;
                            <br /> <br />
                            PERSONAL INFORMATION
                            Personal Information means information about you that specifically identifies you or, when combined with other information we have, can be used to identify you. As a general rule, we do not collect personal information about you when you visit and/or use the Services, unless you choose to provide such information to us. Submitting personal information through the Services is voluntary. By doing so, you are giving us your permission to use the information for the stated purpose.
                            <br /> <br />
                            THE NATURE OF PERSONAL INFORMATION WE COLLECT
                            Personal information we collect which you provide to us may include:
                            Contact Information: your name, email addresses, telephone numbers and postal addresses.
                            Interaction Information: information you provide when you interact with us and the Services, email and other communications; and how you interact with our advertisers and business partners; and
                            Financial Information: information collected from you as needed to process payments for products or services that you buy, as provided by you, if applicable, such as your payment card number, expiration date, and card verification number.

                            As a general rule, you have the right not to provide the foregoing information when dealing with the Services.
                            <br /> <br />
                            NON-IDENTIFIABLE INFORMATION
                            We collect and temporarily store certain information about your usage of the Services. Non-Identifiable Information means information that alone cannot identify you, including data such as cookies, pixel tags, web beacons and device information. The information includes, without limitation:
                            Device Data- We may collect information such as: the type of computer and/or mobile device you use; the unique device ID of your computer and/or mobile device; the IP address of your computer and/or mobile device; the operating system of your computer and/or mobile device; and the type of mobile internet browsers of your computer and/or mobile device.
                            Usage details- when you access and use the Services, we may automatically collect certain details of your access to and use of the Services, including traffic data, location data, logs and other communication data and the resources that you access and use on or through the Services.
                            Location information- When you first visit or use the Services we may request permission to collect and use your device’s precise geolocation. You can opt not to permit the collection of this information, but it may limit certain functions or features of the Services. You can control how and whether we collect your precise geolocation information through your device’s settings.

                            If you do not want us to collect this information, you may either change your device’s privacy settings or do not access or use the Services.
                            <br /> <br />
                            INFORMATION COLLECTION TECHNOLOGIES
                            The technologies we use for automatic information collection may include:
                            Cookies (or mobile cookies): We may use "cookies" on our Services to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you. The purpose of a cookie is to tell the web server that you have returned to a specific page. You have the ability to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Services.
                            Web Beacons: Pages of the Services and our e-mails may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags and single-pixel gifs) that permit us, for example, to count users who have visited those pages or opened an e-mail and for other related Services statistics (For example, recording the popularity of certain content and verifying system and server integrity.
                            <br /> <br />
                            CHANGING YOUR DATA COLLECTION SETTINGS
                            We strive to provide you with choices regarding the personal information you provide to us. You may need to adjust the settings on your computer and/or device to restrict the collection of information by the Services, but this may prevent you from accessing all of the features of the Services.
                            Tracking Technologies: You may be able to set your browser or device to refuse all or some browser cookies, or to alert you when cookies are being sent. If you disable or refuse cookies or block the use of other tracking technologies, some parts of the Services may then be inaccessible or not function properly.
                            Location Information: You can choose whether or not to allow the Services to collect and use real-time information about your device’s location through the device’s privacy settings. If you block the use of location information, some parts of the Services may then be inaccessible or not function properly. For example, you have the ability to only allow manual geolocation (rather than using their device’s auto locating functionality), but the provision of at least one piece of location data (i.e. you search location) is a requirement for the Services to function.
                            <br /> <br />
                            THIRD-PARTY AUTOMATIC INFORMATION COLLECTION
                            When you use the Services or its content, certain third parties may use automatic information collection technologies to collect information about you or your device. These third parties may include:
                            Advertisers, ad networks and ad servers.
                            Analytics companies.
                            Your mobile device manufacturer.
                            Your mobile service provider.
                            Your Internet provider.

                            These third parties may use tracking technologies to collect information about you when you use the Services. The information they collect may be associated with your personal information or they may collect information about your online activities over time and across different Services, mobile applications and other online sites. They may use this information to provide you with interest-based (behavioral) advertising or other targeted content.

                            We do not control these third parties’ tracking technologies or how they may be used. If you have any questions about an advertisement or other targeted content, you should contact the responsible provider directly.
                            <br /> <br />
                            HOW WE USE YOUR INFORMATION
                            We use information collected as described in this Privacy Statement for the following:
                            Operation
                            Operate, maintain and improve the Services;
                            Provide you with interest-based ads, push notifications, communications, and offers for products and services from us based on your precise geolocation;
                            Manage your account, including processing payments and refunds;
                            Facilitate and fulfill orders placed on the Services;
                            Send you reminders, technical notices, updates, security alerts, support and administrative messages and marketing messages;
                            Answer your questions and respond to your requests;
                            Ensure that content from our Services is presented in the most effective manner for you and for your computer or device for accessing the Services;
                            Carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including the Terms and Conditions; and
                            Notify you when there are changes to any products or services we offer or provide though the Services.

                            Usage and Analytics
                            Estimate our audience size and usage patterns;
                            Perform analytics and conduct customer research;
                            Evaluate your eligibility for certain types of offers, products or services that may be of interest to you;
                            Analyze advertising effectiveness; and
                            Communicate and provide additional information that may be of interest to you about us and our business partners.
                            <br /> <br />
                            HOW WE DISCLOSE YOUR PERSONAL INFORMATION
                            The Personal Information you provide to us whether voluntarily or automatically, may be used and disclosed without limitations, in the following instances:
                            With vendors who provide services for us (who are required to protect the Personal Information);
                            To Report or collect on debts owed to us or our Business Partners;
                            With Business Partners from which we offer products and services or whom we have entered into an agreement that provides for the disclosure, sale, lease, or license of your Information;
                            To a prospective buyer or buyer of Blocknetwork, or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution or other sale or transfer of some or all our assets;
                            As part of bankruptcy, liquidation or similar proceeding;
                            To comply with legal requirements for the enforcement of law, regulations, court orders, subpoena, a warrant during the course of a legal proceedings or otherwise; or
                            To protect and safeguard our copyright, trademarks, legal rights, intellectual property rights or safety; or
                            In response to a subpoena, or similar legal process, including to law enforcement agencies, regulators, and courts in the United States.
                            <br /> <br />
                            HOW WE DISCLOSE YOUR NON-PERSONAL INFORMATION
                            We may also disclose Non-Identifiable Information:
                            For the same reasons we might share Personal Information;
                            With our advertisers for their own analysis and research;
                            To facilitate targeted content and ads; or
                            With Third-Party Ad Servers to place our ads on the Services and on third-party websites
                            <br /> <br />
                            HOW TO ACCESS, UPDATE & DELETE YOUR INFORMATION
                            You have the right to review, correct, update, amend your Personal Information where it is inaccurate, or to request the deletion or destruction of both your Account and Personal Information (“Right to be Forgotten”). Additionally, you may request a copy of the information we have collected about you by contacting us with your full name, phone number and email address. Please send all requests to our contact

                            If you do not wish to have your Personal Information used or shared as described in this policy, please discontinue the use of the Services or do not provide such information. While we strive to honor all reasonable requests, please be aware that we backup the data to prevent accidental or malicious destruction of your information. Information on backup servers may take some time to be completely deleted from the system. If you request that we remove you from our system and delete your Account, please note that you may still receive materials while your request is being processed.

                            If you request that your Account be deleted, we will keep your Account information for a period of time in order to deter fraud, by ensuring that persons who try to commit fraud will not be able to avoid detection simply by closing their Account and opening a new Account. However, if you delete your Account, your Personal Information will not be used by Blocknetwork or our third- party providers for any further purposes, nor sold or shared with third parties, except as necessary to prevent fraud and assist law enforcement, as required by law, or in accordance with this Privacy Policy.
                            <br /> <br />
                            SECURITY
                            We take reasonable steps to protect the personal data provided to us from unauthorized access, use or disclosure. The safety and security of your information also depends on you. Unfortunately, the transmission of information via the internet and mobile services is not completely secure. Although we do our best to protect your Personal Information, we cannot guarantee the security of your personal information transmitted through our Services. Any transmission of Personal Information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures we provide.

                            If you suspect that there has been a breach of the security of your data you should contact us and include details of the nature of the breach, the date of the breach, and the full circumstances of the breach.


                            <br /> <br />
                            COMPLIANCE WITH APPLICABLE LAWS AND REGULATIONS
                            Each Party represents and warrants that it will comply with all applicable laws, rules, regulations, directives and guidelines regarding the collection, use and disclosure of data collected from or about end users or specific devices which apply to the services utilized hereunder (collectively, the “Rules”).  The term “Rules” shall include, without limitation, (i) the Personal Information Protection and Electronic Documents Act (PIPEDA) regarding the collection, use and disclosure of data from or about end users and/or specific devices; (ii) the Canada Anti-Spam Law (CASL) and (iii) if applicable, the Rules of any other jurisdiction, including United States Federal Trade Commission Laws and European Union General Data Protection Regulation (“EU GDPR”), rules, regulations and/or directives promulgated by a pertinent Data Protection Act, and all amendments and updates to them or  regulations as replaced or superseded from time to time.
                            <br /> <br />
                            NOTICE CONCERNING CHILDREN UNDER THIRTEEN
                            We do not direct our website or services directly or indirectly towards children. We do not target the Services towards children, nor do we knowingly collect information about children. If we learn that the information of a child under the age of 13 is stored within its system, we will promptly delete any information in that Account. If you become aware that a child under the age of 13 has provided us with Personal Information, please notify us immediately and we will terminate the Account.
                            <br /> <br />
                            UPDATES TO THIS POLICY
                            We reserve the right to change, modify, update, add, or remove portions of this Privacy Policy at any time. Any changes or updates will be effective immediately upon posting to this page. When we do update it, for your convenience, we will make the updated policy available on this page. We encourage you to check this Privacy Policy frequently to stay up to date on any changes. You can determine if changes have been made by checking the effective date on the Privacy Policy. Continued use of the Services after the effective date of any change in this Privacy Policy will constitute acceptance of such changes and it will signify that you agree to abide by and be bound by the modified Privacy Policy.
                            <br /> <br />
                            OPT-OUT & UNSUBSCRIBE
                            We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from the Services by contacting us at: yan@coinminer.ca
                            <br /> <br />
                            CONTACT US
                            If you have questions, comments, or concerns regarding this Privacy Policy, please contact us at the following email address:
                            <br /> <br />
                            yan@coinminer.ca
                            <br /> <br />
                            We will respond to your request within a reasonable timeframe, usually within five business days.
                        </p>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Terms of Use</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Blocknetwork
                            <br /> <br />
                            Terms of Use
                            <br /> <br />
                            Last Updated: May 17, 2018
                            <br /> <br />
                            This website is operated by Blocknetwork, Inc. (hereinafter “Blocknetwork”). These terms of use (“Terms”) govern your access to the Blocknetwork website (www.bnetwork.org ) and its products and services (collectively the “Services”).

                            The term “you”, “your” or “User(s)” shall refer to any entity or person that starts uses our Services and/or opens an Account with us. The terms “we,” “our” or “us” shall refer to Blocknetwork.

                            The Services are offered to you conditioned on your acceptance without modification of Terms contained herein. Certain features, services or tools of the Services may be subject to additional guidelines, terms, or rules, which will be posted with those features and are a part of these Terms. Your use of the Services constitutes your agreement to all such Terms. Please read these terms carefully, and keep a copy of them for your reference.
                            <br /> <br />
                            YOU ACKNOWLEDGE AND AGREE THAT, BY ACCESSING, USING AND/OR CREATING AN ACCOUNT ON THE SERVICES, CONSUMMATING A FINANCIAL TRANSACTION VIA THE SERVICES, YOU ARE AFFIRMING THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE BOUND BY THESE TERMS, WHETHER OR NOT YOU HAVE REGISTERED WITH THE SERVICES. IF YOU DO NOT AGREE TO THESE TERMS, THEN YOU HAVE NO RIGHT TO ACCESS OR USE THE SERVICES.
                            <br /> <br />
                            PRIVACY
                            Your use of the Services is subject to the Blocknetwork Privacy Policy. Please review our Privacy Policy, which also governs the Services and informs Users of our data collection practices. 
                            <br /> <br />
                            USE OF OUR SERVICES
                            Blocknetwork offers Users simple and accessible crypto-mining services. We provide all the tools needed for Users to have their own crypto-mining rig such as leasing/rental of computer hardware; the deliverables resulting from the crypto-mining and any statistics, data, and options to view, monitor, and control their mining process (including hardware configuration, currency withdrawal, and any other information related to usage).
                            Subject to your compliance with its obligations under these Terms, Blocknetwork will provide you with access to the Services. Access to the Services is permitted on a temporary basis, and we reserve the right to withdraw or amend the service we provide without notice. We will not, and neither will any of our partners and affiliates, be liable if for any reason our Services is unavailable at any time or for any period.

                            You must be eighteen (18) years or over in order to use Blocknetwork and the Services. If you are under the age 18, you may not use the Services. Blocknetwork does not knowingly collect, either online or offline, personal information from persons under the age of 13.
                            <br /> <br />
                            YOUR ACCOUNT
                            In order to access and create an advertising campaign through the Services, you will need to register and create an account (“Account”) and become a registered user. Your personal login details and credentials for your Account are solely for use by you and you may not assign or otherwise transfer your account to any other person or entity.

                            In creating an account, you represent that you are of legal age to form a binding contract. When creating an Account, you will be required to provide certain personal information about yourself and establish a username and a password. We reserve the right to suspend or terminate your Account if any information provided during the registration process or thereafter proves to be inaccurate, false or misleading. Any instruction, action or activity occurring through your Account shall be deemed to be provided and/or taken by you, and you shall be solely responsible for all activities that occur under such Account, including for any unauthorized use of such Account or any other breach of security, or any related damage or loss.
                            <br /> <br />
                            PASSWORD AND SECURITY
                            If you use the Services, you are responsible for maintaining the confidentiality of your account and password for restricting access to your computer or mobile device, and you agree to accept responsibility for all activities that occur under your account or password. You acknowledge that we are not responsible for third party access to your account that results from theft or misappropriation of your account. We reserve the right to refuse or cancel service, terminate accounts, or remove or edit content from the Services if in our opinion, you have failed to comply with any of the provisions of these Terms.



                            <br /> <br />
                            LINKS TO THIRD PARTY SERVICES/THIRD-PARTY WEBSITES
                            The Services may contain links to other websites ("Linked Websites"). The Linked Websites are not under the control of Blocknetwork and we are not responsible for the contents of any Linked Websites, including without limitation any link contained in a Linked Websites, or any changes or updates to a Linked Websites. We are providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Blocknetwork of the Services or any association with its operators.  Certain services made available through the Services are delivered by third party Services and organizations. By using any product, service or functionality originating from the Services, you hereby acknowledge and consent that we may share such information and data with any third party with whom we have a contractual relationship to provide the requested product, service or functionality on behalf of Blocknetwork and customers. 
                            <br /> <br />
                            PROHIBITED USES
                            Use of the Services is limited to the permitted uses expressly authorized by us. The Services shall not be used in any way that:
                            Harasses, abuses, stalks, threatens, defames, or otherwise infringes or violates the rights of any other party (including but not limited to rights of publicity or other proprietary rights)
                            is unlawful, fraudulent, or deceptive;
                            uses technology or other means to access unauthorized content or non-public spaces;
                            uses or launches any automated system or process, including without limitation, "bots," "spiders," or "crawlers," to access unauthorized content or non-public spaces;
                            attempts to introduce viruses or any other harmful computer code, files or programs that interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;
                            attempts to damage, disable, overburden, or impair our servers or networks;
                            attempts to gain unauthorized access to a Blocknetwork computer network;
                            attempts to gain unauthorized access to Blocknetwork's user accounts;
                            uses false or inaccurate Blocknetwork’s user accounts;
                            encourages conduct that would constitute a criminal offense, or that gives rise to civil liability;
                            violates these Terms in any manner; or
                            fails to comply with applicable third-party terms and conditions or other third-party policies.
                            <br /> <br />
                            PAYMENTS AND FEES
                            In consideration for the provision of the Services, you shall pay Blocknetwork the amounts stated for the provision of the Services (the “Fees”) in accordance with the payment terms stated. The Fees for the Services will be charged to you, per use of the Services. All sales are final.

                            You shall be responsible (or reimburse Blocknetwork as the case may be) for all taxes related to or arising out of these Terms, including any sales, use, excise, gross receipts, property, privilege, value-added, or other federal, state or local taxes or tariffs (including any interest or penalties thereto) now in force or enacted in the future, (excluding only taxes on Blocknetwork’s net income). To the extent that we are obligated to collect such taxes, the applicable tax will be added to your account.

                            You agree to provide current, complete and accurate purchase and Account information for the Services purchased through the website. You agree to promptly update your Account and other information, including your email address and credit card numbers and expiration dates, so that we can complete your transactions and contact you as needed. We reserve the right to suspend the provision of the Services or any part thereof, if any information provided during the registration process or thereafter proves to be inaccurate, false or misleading or if any Fees due to be paid under these Terms are overdue, and we have given you at least five (5) days written notice. You are responsible for all charges incurred under your account, whether made by you or another person using your account. If for any reason, we do not receive payment after giving you notice, we may exercise our rights in law and equity, including (a) immediately suspending or terminating your account and/or the Services; (b) seeking collection of the outstanding amount owed; and/or (c) seeking legal action against you for the breach of these Terms.
                            <br /> <br />
                            TERM
                            The duration of the Services (“Term”) shall be selected by you, upon purchase of the Services on the website. The Services may be terminated by you at any time, by giving five (5) days written notice. Upon your termination of the Services, we will not issue any refunds for any Fees paid to Blocknetwork prior to the termination date.
                            <br /> <br />
                            TERMINATION OR MODIFICATION OF THE SERVICES
                            We reserve the right to modify or suspend the Services at any time, by providing you with ten (10) days written notice of such modification or termination of the Services provided to you. Upon expiration or termination of these Terms and/or the Services for any reason, (i) all rights and licenses including the Licenses granted herein, and any Services shall terminate immediately; (ii) each Party shall promptly return to the other Party, or destroy and certify in writing to the other Party of the destruction of all Confidential Information; (iii) you shall immediately cease to use the Services and shall purge from your systems and websites any traces of the Services; (iv) you shall remit, in full, all payments due to Blocknetwork according to these Terms and all pursuant and following such final payment, neither Party will be entitled to receive any payment from the other Party. In the event Blocknetwork ceases operations and is no longer able to provide the Services, you shall receive a refund of any prepaid amounts for the Services. In the event of termination, any obligations that are intended survive under these Terms shall continue.
                            <br /> <br />
                            INTELLECTUAL PROPERTY RIGHTS
                            All content included as part of the Services, such as text, graphics, logos, images, as well as the compilation thereof; the Services; and any update made to the Services are the exclusive property of Blocknetwork or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto. 

                            Other than the limited right to use the Services, as provided hereunder, these Terms do not convey any right, title or interest in and to the Services, or any other Intellectual Property Right of Blocknetwork. Any updates, upgrades, improvements, modifications, adaptations, derivatives or enhancements made to the Services, any of Blocknetwork’s Intellectual Property, or to any part thereof, or other work which includes, contains, substitutes, emulates, exposes the functionalities, or incorporates the or Services, or any part thereof, made by the you, Blocknetwork or jointly by the you and Blocknetwork, shall be solely owned by Blocknetwork.

                            You shall not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the Services. Our content is not for resale. Your use of the Services does not entitle you to make any unauthorized use of any protected content, and in particular you will not delete or alter any proprietary rights or attribution notices in any content. You will use protected content solely for the use of the Services, and will make no other use of the content without the express written permission of Blocknetwork and the copyright owner. You agree that you do not acquire any ownership rights in any protected content.
                            <br /> <br />
                            CONFIDENTIALITY
                            Neither Party shall disclose any Confidential Information to any third party other than to its employees, agents and/or independent contractors to whom disclosure is reasonably required provided that such individuals and entities have agreed, under an executed agreement, to keep such information confidential in the same or a substantially similar manner as provided for in these Terms. Neither Party will use any Confidential Information except as expressly permitted by, or as required to achieve the purposes of these Terms. Each Party will take reasonable security precautions to protect and safeguard the Confidential Information of the Disclosing Party against any unauthorized use, disclosure, transfer or publication, with at least the same degree of care and precaution as it uses to protect its own Confidential Information of a similar nature, but in no event with less than reasonable care. Either Party shall notify the other Party upon discovery of any unauthorized use or disclosure of the Confidential Information and take reasonable steps to regain possession of the Confidential Information and prevent further unauthorized actions or breach of these Terms. Nothing in this Agreement shall prevent a Receiving Party from disclosing Confidential Information it received hereunder pursuant to a binding order of a government agency or a court, provided that the Receiving Party (i) notifies the Disclosing Party of such release or disclosure with as much notice as reasonably possible so that such Disclosing Party may seek a protective order or other appropriate remedy; and (ii) uses reasonable efforts to limit such release or disclosure only to the extent required. The Parties acknowledge that monetary damages may not be a sufficient remedy for unauthorized disclosure of Confidential Information and agree that the non-breaching Party shall be entitled, without waiving any other rights or remedies, to such injunctive or equitable relief as may be deemed proper by a court of competent jurisdiction. The provisions of this section shall continue in force for a period of five (5) years following the termination or expiration of these Terms.
                            <br /> <br />
                            ERRORS, INACCURACIES AND OMISSIONS
                            Occasionally there may be information on the Services that contains typographical errors, inaccuracies or omissions that may relate to product or service descriptions, pricing, promotions, offers, charges and availability. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information or cancel transactions if any information in the Services is inaccurate at any time without prior notice. We undertake no obligation to update, amend or clarify information in the Services, except as required by law. No specified update or refresh date applied in the Services, should be taken to indicate that all information in the Services has been modified or updated. BLOCKNETWORK DOES NOT REPRESENT, WARRANT OR OTHERWISE ENDORSE THAT THE SERVICES OR ANY CONTENT, INFORMATION OR GOODS THAT ARE AVAILABLE OR ADVERTISED OR SOLD THROUGH THE SERVICES ARE ACCURATE, COMPLETE, AVAILABLE, CURRENT, OR THAT THE RESULTS OF USING THE SERVICES WILL MEET YOUR REQUIREMENTS. WE RESERVE THE RIGHT TO CORRECT ANY ERRORS OR OMISSIONS IN THE SERVICES.
                            <br /> <br />
                            DISCLAIMER OF WARRANTIES
                            EXCEPT AS EXPRESSLY SET FORTH HEREIN, BLOCKNETWORK DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE, THE ABILITY TO USE OR OPERATE, OR THE RESULTS OF THE USE OR OPERATION OF THE SERVICES, OR ANY PART THEREOF. THE SERVICES (AND ANY PART THEREOF), INCLUDING WITHOUT LIMITATION ANY CONTENT, DATA, MATERIALS, REPORTS AND ANY INFORMATION RELATED THERETO, ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING WARRANTIES OF TITLE OR NON-INFRINGEMENT OR IMPLIED WARRANTIES OF USE, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR USE, OR ANY REPRESENTATIONS OR WARRANTIES AS TO THE USABILITY, ACCURACY, QUALITY, AVAILABILITY, RELIABILITY, SUITABILITY, COMPLETENESS, TRUTHFULNESS, USEFULNESS, SECURITY OR EFFECTIVENESS OF ANY CONTENT, DATA, RESULTS, CURRENCY OR OTHER INFORMATION OBTAINED OR GENERATED BY BLOCKNETWORK AND/OR YOU IN CONNECTION WITH YOUR USE OF THE SERVICES. BLOCKNETWORK DOES NOT MAKE ANY REPRESENTATIONS REGARDING THE BENEFITS OR RESULTS THAT YOU OR ANY THIRD PARTY SHALL OBTAIN FROM THE SERVICES. EXCEPT AS EXPRESSLY STATED OTHERWISE UNDER THESE TERMS, BLOCKNETWORK DOES NOT AND CANNOT WARRANT THAT THE OPERATION OF THE SERVICES IS OR WILL BE SECURE, ACCURATE, COMPLETE, UNINTERRUPTED, WITHOUT ERROR, OR FREE OF VIRUSES, WORMS, OTHER HARMFUL COMPONENTS, OR OTHER PROGRAM LIMITATIONS. BLOCKNETWORK MAY, AT ITS SOLE DISCRETION, CORRECT, MODIFY, AMEND, ENHANCE, IMPROVE AND MAKE ANY OTHER CHANGES TO THE SERVICES AT ANY TIME WITHOUT ANY NOTICE TO YOU.
                            <br /> <br />
                            LIMITATIONS OF LIABILITY
                            TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW: (I) IN NO EVENT WILL BLOCKNETWORK OR ANY OF BLOCKNETWORK’S, SUBSIDIARIES, AFFILIATES, EMPLOYEES OR AGENTS BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES OF ANY KIND (INCLUDING, BUT NOT LIMITED TO, WHERE RELATED TO LOSS OF REVENUE, INCOME OR PROFITS, LOSS OF USE OR DATA, OR DAMAGES FOR BUSINESS INTERRUPTION) ARISING OUT OF OR IN ANY WAY RELATED TO THE SERVICES OR OTHERWISE RELATED TO THESE TERMS, REGARDLESS OF THE FORM OF ACTION, WHETHER BASED IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, SIMPLE NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), OR ANY OTHER LEGAL OR EQUITABLE THEORY (EVEN IF THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND REGARDLESS OF WHETHER SUCH DAMAGES WERE FORESEEABLE); AND (II) IN NO EVENT WILL THE AGGREGATE LIABILITY OF BLOCKNETWORK AND BLOCKNETWORK’S SUBSIDIARIES, AFFILIATES, EMPLOYEES OR AGENTS (JOINTLY), WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), OR OTHER THEORY, ARISING OUT OF OR RELATING TO THESE TERMS OR THE USE OF THE SERVICES EXCEED THE FEES PAID BY YOU TO BLOCKNETWORK IN THE LAST TWELVE (12) MONTHS FOR THE SERVICES UNDER THIS AGREEMENT.
                            <br /> <br />
                            INDEMINIFICATION
                            You agree that you shall defend, indemnify and hold harmless Blocknetwork and its officers, directors, shareholder, employees, affiliates and agents from and against all costs, damages, losses and expenses, including reasonable attorneys’ fees and other legal expenses, arising from any third-party claim that: (i) the Data, any content submitted by you, your website, your use of the Service, or other content violates any third party rights, including without limitation, infringement or violation of the Intellectual Property Rights or privacy rights of such third party; (ii) the Data, any content submitted by you, or other content are obscene, defamatory, illegal, unethical, or promote illegal behavior; and/or (iii) that you have failed to obtain any necessary permit, license or consent in connection with these Terms; and/or (iv) stems from your violation or alleged violation of any of its representations, warranties, and/or obligations under these Terms. Blocknetwork shall defend, indemnify and hold harmless you and its officers, directors, shareholder, employees, affiliates and agents from and against all costs, damages, losses and expenses, including reasonable attorneys’ fees and other legal expenses, arising from any third-party claim that the Services violate any third-party Intellectual Property Rights.

                            As a condition to the defense and indemnity set forth above, the either party, as applicable (the “Indemnified Party”) shall give the other Party (“Indemnifying Party”) prompt notice of any such claim made against it and the Indemnifying Party shall be entitled, by written notice to such Indemnified Party, to assume sole control of the defense of any such claim, suit or proceeding, including appeals, negotiations and any settlement or compromise thereof (collectively, “Claim”), at its own expense, provided that (a) no settlement, consent order or consent judgment which involves any placement of a financial burden or admission of any liability or wrongdoing, act or omission on the part of the Indemnified Party may be agreed to by the Indemnifying Party without the Indemnified Party’s prior written consent; and (b) the Indemnifying Party shall keep the Indemnified Party informed of the status and progress of such Claim, the defense thereof and/or settlement negotiations with respect thereto. The Indemnified Party shall give the Indemnifying Party all reasonable assistance, at Indemnifying Party’s cost and expense, necessary in connection with such defense.
                            <br /> <br />
                            RELIANCE ON INFORMATION POSTED
                            Commentary and other materials posted on the Services are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor of our website or uses the Services, or by anyone who may be informed of any of its contents.
                            <br /> <br />
                            ELECTRONIC COMMUNICATIONS
                            Using the Services or sending emails to us constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the Services, satisfy any legal requirement that such communications be in writing.
                            <br /> <br />
                            HARM FROM COMMERCIAL USE
                            You agree that the consequences of commercial use or re-publication of content or information from the Services may be so serious and incalculable, that monetary compensation may not be a sufficient or appropriate remedy and that we will be entitled to temporary and permanent injunctive relief to prohibit such use.
                            <br /> <br />
                            ARBITRATION
                            Any dispute, controversy or claim arising out of, relating to, or in respect of this Agreement, including any issue regarding its existence, validity, enforceability, interpretation, breach or termination ("Dispute") shall be finally determined by submission to arbitration under the Arbitration Act, 1991 (Ontario), as amended or replaced from time to time before a sole arbitrator mutually agreeable to the parties (the “Arbitrator”). If the Arbitrator cannot be agreed upon then either Party may apply to the Ontario Superior Court of Justice to appoint an arbitrator. The initial costs of the Arbitrator will be born equally by the Parties. The Arbitrator shall have the power to award costs in his or her discretion in making his or her award or decision. Nothing in this clause prohibits Blocknetwork from seeking injunctive relief in the Ontario Superior Court of Justice as referenced in this Agreement.

                            The seat of the arbitration shall be Toronto, Ontario. The arbitrator's award(s) shall be final and binding and there shall be no appeal. The final award(s) of the arbitrator on the merits of the Dispute shall be released within forty-five (45) days after the completion of the hearing of the Dispute, unless the Parties agree otherwise. The orders and award(s) of the arbitrator may be enforced in any court of competent jurisdiction. For such purposes and to enforce these dispute resolution provisions, the Parties each submit to the exclusive jurisdiction of the courts of Ontario.
                            <br /> <br />
                            CLASS ACTION WAIVER
                            Any arbitration or action under these Terms will take place on an individual basis; class arbitrations and class/representative/collective actions are not permitted. THE PARTIES AGREE THAT A PARTY MAY BRING CLAIMS AGAINST THE OTHER ONLY IN EACH'S INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PUTATIVE CLASS, COLLECTIVE AND/ OR REPRESENTATIVE PROCEEDING, SUCH AS IN THE FORM OF A PRIVATE ATTORNEY GENERAL ACTION AGAINST THE OTHER. Further, the arbitrator or judge may not consolidate more than one person's claims, and may not otherwise preside over any form of a representative or class proceeding. 
                            <br /> <br />
                            JURISDICTION AND APPLICABLE LAW
                            To the maximum extent permitted by law, this agreement is governed by the laws of the Province of Ontario, Canada, without regard to any conflict of laws rules. You irrevocably consent to the exclusive jurisdiction of the state courts in the Province of Ontario, Canada for purposes of any legal action arising out of or related to the use of the Services or these Terms. Use of the Services is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms, including, without limitation, this section. 

                            Our Services are controlled and operated from Ontario, Canada. Without limiting anything else, we make no representation that our website, Services, products, information or other materials available on, in, or through our Services is appropriate or available for use in other locations, and access to them from countries or territories where they are illegal is prohibited. Those who choose to access our Services from other locations do so on their own volition and are responsible for compliance with applicable laws.
                            <br /> <br />
                            ENTIRE AGREEMENT
                            Unless otherwise specified herein, this agreement constitutes the entire agreement between you and Blocknetwork with respect to the Services and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between you and Blocknetwork.
                            <br /> <br />
                            CHANGES TO TERMS
                            We reserve the right, in our sole discretion, to change the Terms under which the Services is offered. The most current version of the Terms will supersede all previous versions. We encourage you to periodically review the Terms to stay informed of our updates. We may alter or amend our Terms by giving you reasonable notice. By continuing to use the Services after expiry of the notice period, or accepting the amended Terms (as we may decide at our sole discretion), you will be deemed to have accepted any amendment to these Terms.

                            Relationship Between the Parties
                            Nothing in these Terms shall be construed as making either party the partner, joint venturer, agent, legal representative, employer, contractor, or employee of the other.
                            <br /> <br />
                            MISCELLANEOUS
                            The waiver or failure of Blocknetwork to exercise in any respect any right provided hereunder shall not be deemed a waiver of such right in the future or a waiver of any of other rights established under these Terms. Headings used in these Terms are for reference only and shall not affect the interpretation of these Terms. No person or entity not party to this agreement will be deemed to be a third-party beneficiary of these Terms or any provision hereof. When used herein, the words “includes” and “including” and their syntactical variations shall be deemed followed by the words “without limitation.”
                            <br /> <br />
                            CONTACT US
                            Blocknetwork welcomes your questions or comments regarding the Terms: 
                            <br /> <br />
                            Blocknetwork Inc.    <br />
                            200 Matheson W Blvd. <br />
                            Mississauga ON, Canada <br />
                            <br /> <br />
                            By Email: <br />
                            yan@coinminer.com


                        </p>

                    </div>
                </div>
            </div>

          
        </div>
    </div>

    <style>
        .faqHeader {
            font-size: 27px;
            margin: 20px;
        }

        .panel-heading [data-toggle="collapse"]:after {
            font-family: 'Glyphicons Halflings';
            content: "\e072";
            float: right;
            color: rgb(204,0,0);
            font-size: 18px;
            line-height: 22px;
            /* rotate "play" icon from > (right arrow) to down arrow */
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

        .panel-heading [data-toggle="collapse"].collapsed:after {
            /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            color: #454444;
        }
    </style>





</body>

</html>
<style>
    /**
    * The CSS shown here will not be introduced in the Quickstart guide, but shows
    * how you can use CSS to style your Element's container.
    */
   
</style>

