
<!DOCTYPE html>
<html>
<head>
    <environment names="Production">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/css/Help.css" />
    </environment>
</head>
<body>
    <div class="container">
        <br />
        <br />
        <br />



        <br />

        <div class="panel-group" id="accordion">
            <div class="faqHeader">General</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">User Terms and Agreements</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <a href="~/Home/Agreement" target="_blank">User Agreements</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">When are your rigs located?</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                        Bnetwork rigs are located in Quebec. Our facility utilizes the natural cold climate and low hydro costs to maximize mining efficiency.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What does BNetwork do to protect the environment?</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                        100% of the electricity used in our mining operations comes from a local hydroelectric dam, making our electricity completley clean and renewable.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseAccountOne">I lost my account's details and cannot log in</a>
                    </h4>
                </div>
                <div id="collapseAccountOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        Please write us a support e-mail. We may ask you to provide us with additional information regarding your account to assist you with recovery.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseAccountTwo">How can I change my account's information?</a>
                    </h4>
                </div>
                <div id="collapseAccountTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        All information, mining and contact related can be found under "Settings" once logged in.
                    </div>
                </div>
            </div>

            <div class="faqHeader">Mining</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What currencies can I mine?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        BNetwork is initially offering Ethereum mining but plans to expand to Monero, Bitcoin and Litecoin shortly.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How often can I withdraw my mined currencies?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        You may withdraw your account holdings every 24 hours.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What is the minimum withdrawl amount?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        In order to minimize the losses due to network tranasction fees, the current minimum withdraw rates are:
                        <ul>
                            <li>Ethereum: 0.05 ETH</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How can I create a "wallet"?</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <a href="http://www.google.com/search?q=How+to+Create+Ethereum+Wallet" target=”_blank”> 3rd party link to learn!</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Are there any maintenance or service fees?</a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                        No! Bnetwork does not charge any fees during the mining contract.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseMiningNine">What does my profitability depend on?</a>
                    </h4>
                </div>
                <div id="collapseMiningNine" class="panel-collapse collapse">
                    <div class="panel-body">
                        Mining profitability depends on the mining difficulty, current market prices, and the mining rate your purchase.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseMiningTen">When will my mining contract start?</a>
                    </h4>
                </div>
                <div id="collapseMiningTen" class="panel-collapse collapse">
                    <div class="panel-body">
                        Although all of Bnetwork's mining capacities are ready to go, it may take us some time to assign your mining contract to a unique rig in our facility.
                    </div>
                </div>
            </div>


        </div>



    </div>



</body>

</html>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072";
        float: right;
        color: rgb(204,0,0);
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }

    #help-button {
        color: #ffffff;
        text-shadow: 0 0 0.15em white;
        text-decoration: none;
    }
</style>

