
@{
    ViewData["Title"] = "Process Checkout";
}
<html>
<body style="background:url(/images/redgradient.jpg)">
    <div class="row" style="padding-left:10vw;padding-right:10vw; position:relative; margin:auto;">
        <div class="jumbotron text-xs-center" style="align-content:center;margin-top:10em">
            <h1 style="position:relative;margin:auto; text-align:center">Thank You For Purchasing!</h1>
            <p class="lead" style="text-align:center; margin-top:2em; margin-bottom:2em">You can now visit  <strong> "My Rig" </strong>  to monitor your progress once your rig is allocated!</p>
            <hr>

            <div style="text-align:center; margin-top:3em">
                <button style="position:relative; margin:auto; text-align:center;" onclick="location.href = '/Monitor/MyRig';">Continue to My Rig</button>
            </div>
        </div>
    </div>
</body>
</html>>