@{
    ViewData["Title"] = "Signed out";
}
<environment names="Production">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</environment>

<h2>@ViewData["Title"]</h2>
<p>
    You have successfully signed out.
</p>
